{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"endOfLine": "crlf",
	"printWidth": 80,
	"proseWrap": "always",
	"quoteProps": "consistent",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": false
}
